<a href="https://colab.research.google.com/github/Steivann/tugas-data-mining/blob/main/%5BQuestion%5D_Exercise_Week_1(Questions)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [81]:
# Nama
print("Hello, my name is Steivan Henry Octavian")

name = "Steivan Henry Octavian"
print("Hello, my name is", name)

Hello, my name is Steivan Henry Octavian
Hello, my name is Steivan Henry Octavian

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [82]:
# Soal a
a=4*15
b=a/12
print(b)

# Soal b
print(8**(1/3))


# Soal c
a=50000
b=7500
c=a/b
d=a%b
print(int(c))
print(d)

5.0
2.0
6
5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [83]:
# Konversi
a = '1000'
b = 5.25
c = 5
d = 1000

print(int(a), type(int(a)))
print(int(b), type(int(b)))
print(float(c), type(float(c)))
print(str(d), type(str(d)))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [84]:
string =("If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals.")
# 1
print('Tampilan Indeks = ',string[20:31])

# 2
list = string.split()
print('Pisah = ',list)

# 3
print('Balikannya = ', string[::-1])

Tampilan Indeks =  what a man'
Pisah =  ['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
Balikannya =  .slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [85]:
# Fakultas

# 1
fakultas = ("Business Management", "Creative Industry", "Tourism", "Medicine", "Dental Medicine", "Psychology", "Communication Science and Media Business", "Enterpreneurship and Humanities","Hukum", "SIFT")
total =  len(fakultas)
# 2
print("Jumlah fakultas di UC:", total)

# 3
buatsift = fakultas.index("SIFT")
print("Posisi Fakultas SIFT: ", buatsift)

Jumlah fakultas di UC: 10
Posisi Fakultas SIFT:  9

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [86]:
# 1
list = ["Nasi Goreng", "Ayam Goreng", "Mie Pangsit"]

# 2
for makan in list:
    print(makan)
# 3
for pesan in list:
    print(f"Aku ingin pesan {pesan}")

# 4
list[0] = "Pizza"
print(f"Aku ingin mengganti pesananku jadi {list[0]}")

Nasi Goreng
Ayam Goreng
Mie Pangsit
Aku ingin pesan Nasi Goreng
Aku ingin pesan Ayam Goreng
Aku ingin pesan Mie Pangsit
Aku ingin mengganti pesananku jadi Pizza

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [87]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
gabung = set1.union(set2)
print("Gabungan set1 dan set2 = ", gabung)

# 3
intersection = set1.isdisjoint(set3)
print("set1 dan set3 tidak mempunyai intersection:", intersection)

# 4
subset = set4.issubset(set1)
print("Set4 adalah bagian dari set1:", subset)

Gabungan set1 dan set2 =  {1, 2, 3, 4, 6, 8}
set1 dan set3 tidak mempunyai intersection: True
Set4 adalah bagian dari set1: True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [88]:
# Program Perhitungan Tarif Listrik

try:
    penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

    if penggunaan < 0:
        print("Error: Penggunaan listrik tidak boleh negatif!")
    else:
        if penggunaan < 100:
            tarif = 100 * 1000
        elif penggunaan < 1000:
            tarif = penggunaan * 1000
        else:
            tarif = penggunaan * 2000
            tarif += tarif * 0.10

        print(f"Tarif yang harus dibayar: Rp{tarif:,.2f}")

except ValueError:
    print("Error: Masukkan nilai numerik yang valid untuk penggunaan listrik.")

Masukkan jumlah penggunaan listrik (kWh): 100
Tarif yang harus dibayar: Rp100,000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [89]:
# Program Angkot Abdimas UC
try:
    jumlah_peserta = int(input("Masukkan jumlah peserta: "))

    if jumlah_peserta < 0:
        print("Jumlah orang tidak bisa negatif!")
    else:
        kapasitas_angkot = 10
        jumlah_angkot = (jumlah_peserta + kapasitas_angkot - 1) // kapasitas_angkot

        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

except ValueError:
    print("Error: Masukkan angka yang valid untuk jumlah peserta.")

Masukkan jumlah peserta: 12
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [90]:
import numpy as np

# 1
nama_hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

In [91]:
# 2
nama_hari_urut = np.sort(nama_hari)
print(nama_hari_urut)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [92]:
# 3
hari_acak = np.random.choice(nama_hari)
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

Selamat hari Sabtu adalah hari baikmu bulan ini!

In [93]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print(matriks)
print("Shape:", matriks.shape)
print("Dimensi:", matriks.ndim)

[[4 2 5 3]
 [6 1 2 1]
 [5 2 6 3]]
Shape: (3, 4)
Dimensi: 2

In [94]:
# 5
kolom_ketiga = matriks[:, 2]
print(kolom_ketiga)

[5 2 6]

In [95]:
# 6
matriks_reshape = matriks.reshape(2, 6)
print(matriks_reshape)

[[4 2 5 3 6 1]
 [2 1 5 2 6 3]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [96]:
import pandas as pd

# 1
series = pd.Series(["Information", "Systems", "for", "Business"])
print(series)

# 2
data = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
df = pd.DataFrame([data])
print(df)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [97]:
# 3
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls')
print(df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [98]:
# 4
kota = df['State'].unique()
print(kota)

['New York' 'California' 'Florida']

In [99]:
# 5
df_acak = df.sample(n=10, random_state=1)
print(df_acak.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [100]:
# 6
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [101]:
# 7
data_california = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print(data_california)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [102]:
# 8
missing_values = df.isnull().sum()
print(missing_values)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [111]:
# 9
buatdrop = df[df['Profit'] < 50000].index
dropped = df.drop(buatdrop)
print(dropped)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [112]:
# 10
urut = df.sort_values(by='Marketing Spend', ascending=False)
print(urut)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
46    1315.46       115816.21        297114.46     Florida   49490.75
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
49       0.00       116983.80         45173.06  California   14681.40
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [113]:
# 1
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv')
print(df)

      No  X1 transaction date  X2 house age  \
0      1             2012.917          32.0
1      2             2012.917          19.5
2      3             2013.583          13.3
3      4             2013.500          13.3
4      5             2012.833           5.0
..   ...                  ...           ...
409  410             2013.000          13.7
410  411             2012.667           5.6
411  412             2013.250          18.8
412  413             2013.000           8.1
413  414             2013.500           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                               10
1                                 306.59470                                9
2                                 561.98450                                5
3                                 561.98450                                5
4                                 390.56840                                5
..                                      ...                              ...
409                              4082.01500                                0
410                                90.45606                                9
411                               390.96960                                7
412                               104.81010                                5
413                                90.45606                                9

     X5 latitude  X6 longitude  Y house price of unit area
0       24.98298     121.54024                        37.9
1       24.98034     121.53951                        42.2
2       24.98746     121.54391                        47.3
3       24.98746     121.54391                        54.8
4       24.97937     121.54245                        43.1
..           ...           ...                         ...
409     24.94155     121.50381                        15.4
410     24.97433     121.54310                        50.0
411     24.97923     121.53986                        40.6
412     24.96674     121.54067                        52.5
413     24.97433     121.54310                        63.9

[414 rows x 8 columns]

In [114]:
# 2
df_acak = df.sample(n=10, random_state=1)
print(df_acak)

      No  X1 transaction date  X2 house age  \
388  389             2013.500          10.4
102  103             2013.083           1.1
187  188             2013.000           8.9
162  163             2012.750          16.0
90    91             2012.833           0.0
398  399             2013.417          14.7
295  296             2013.167          18.2
397  398             2013.417          13.1
17    18             2012.750          17.7
58    59             2013.500          30.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
388                               2251.9380                                4
102                                193.5845                                6
187                               3078.1760                                0
162                               4066.5870                                0
90                                 274.0144                                1
398                               1717.1930                                2
295                               2179.5900                                3
397                               1164.8380                                4
17                                 350.8515                                1
58                                4510.3590                                1

     X5 latitude  X6 longitude  Y house price of unit area
388     24.95957     121.51353                        27.3
102     24.96571     121.54089                        54.4
187     24.95464     121.56627                        22.0
162     24.94297     121.50342                        11.6
90      24.97480     121.53059                        45.4
398     24.96447     121.51649                        23.0
295     24.96299     121.51252                        21.8
397     24.99156     121.53406                        32.2
17      24.97544     121.53119                        37.4
58      24.94925     121.49542                        22.6

In [120]:
# 3
df_acak.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0000
mean,210.400000,2013.141700,13.040000,1978.713140,2.200000,24.964140,121.524438,29.7700
std,148.499308,0.304532,8.784355,1547.961779,1.988858,0.014056,0.020560,12.7908
min,18.000000,2012.750000,0.000000,193.584500,0.000000,24.942970,121.495420,11.6000
25%,94.000000,2012.874750,9.275000,554.348125,1.000000,24.955873,121.512772,22.1500
50%,175.500000,2013.125000,13.900000,1948.391500,1.500000,24.963730,121.523540,25.1500
75%,365.750000,2013.417000,17.275000,2871.616500,3.750000,24.972527,121.533343,36.1000
max,399.000000,2013.500000,30.300000,4510.359000,6.000000,24.991560,121.566270,54.4000

In [121]:
# 4
df_acak = df_acak.drop(columns=['No'])
df_acak.columns = [
    'transaction_date',
    'house_age',
    'distance_to_the_nearest_MRT_station',
    'number_of_convinience_stores',
    'latitude',
    'longitude',
    'house_price_of_unit_area'
]

print(df_acak.head())

     transaction_date  house_age  distance_to_the_nearest_MRT_station  \
388          2013.500       10.4                            2251.9380
102          2013.083        1.1                             193.5845
187          2013.000        8.9                            3078.1760
162          2012.750       16.0                            4066.5870
90           2012.833        0.0                             274.0144

     number_of_convinience_stores  latitude  longitude  \
388                             4  24.95957  121.51353
102                             6  24.96571  121.54089
187                             0  24.95464  121.56627
162                             0  24.94297  121.50342
90                              1  24.97480  121.53059

     house_price_of_unit_area
388                      27.3
102                      54.4
187                      22.0
162                      11.6
90                       45.4

In [122]:
# 5
missing_values = df_acak.isnull().sum()
print(missing_values)

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64